doctype html
html(lang='en')
  head
    title Node Midterm
  body
    | // 
    script(type='text/javascript').
      //   const foo = true;
      //   let bar = function() {};
      //   if (foo) {
      //     bar(1 + 5)
      //   }
      //
    h1
      | She's walking, through the clouds
      | With a circus mind that's running round
      | Butterflies and zebras
      | And moonbeams
      | And, fairytales
      | That's all she ever thinks about
      | Riding with the wind
    h2 Fly on, Little Wing